:root{
    --celeste: #19d3da;
    --blanco: #eeeeee;
    --negroOscuro: #373a40;
    --gris: #686d76;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #686d76;
    color: #eeeeee;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/* Header */
header{
    background-color: #373a40;
}
header h1{
    margin: 0;
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--celeste);
    text-shadow: 2px 2px var(--blanco);
    font-size: 4.6rem;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contenido p{
    font-size: 2.4rem;
}
.contenido span{
    font-weight: bold;
    color: var(--celeste);
    border-bottom: var(--celeste);
    font-size: 2.8rem
}
.contenido form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido form label{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--celeste);
    text-shadow: .5px 1px var(--blanco);
}
.contenido form input{
    font-size: 1.8rem;
    text-align: center;
}
.contenido form input:last-child{
    background-color: var(--celeste);
    border: 0;
    font-weight: bold;
    margin: .3rem;
    padding: 1rem;
    color: var(--negroOscuro);
    width: 30rem;
    font-size: 2.6rem;
    border-radius: 30%;
    border: 4px solid transparent;
}
.contenido form input:last-child:hover{
    background-color: var(--negroOscuro);
    color: var(--celeste);
    border: 4px solid var(--blanco);
}
.resultado {
    border-bottom: 1px solid black;
}